<form method="POST" action="/new">
  <div>
    <label for="title">Text:</label>
    <input type="text" id="title" name="text" required />
  </div>
  <div>
    <label for="content">User:</label>
    <input type="text" id="content" name="user" required />
  </div>
  <input type="submit" value="Submit" />
</form>
