<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <%- include('form') %> <%- include('messages', { messages: messages }) %>
  </body>
</html>
